[Desktop Entry]
Name=vibesTunes
Comment=The modern iTunes alternative for syncing lossless FLACs from Plex to your Rockbox iPod
Exec=vibestunes
Icon=vibesTunes
Terminal=false
Type=Application
Categories=AudioVideo;Audio;Player;FileTools;
Keywords=ipod;rockbox;plex;music;sync;vibestunes;vibetunes;flac;
StartupNotify=true
StartupWMClass=vibestunes

